{% extends "base.html" %}

{% block body %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>ABOUT ME</h1>
                        <!--<hr class="small">-->
                        <!--<span class="subheading">A Clean Blog Theme by Start Bootstrap</span>-->
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h1>个人信息：</h1>
                <hr>
                <ul>
                    <li>姓名：高镇东</li>
                    <li>年龄：26</li>
                    <li>生日：1990/01/10</li>
                    <li>居住地：广州</li>
                    <li>学历：本科</li>
                </ul>
                <h1>联系方式：</h1>
                <hr>
                <ul>
                    <li>EMAIL: 261364769@qq.com</li>
                    <li>GITHUB: <a href="https://github.com/shao110">https://github.com/shao110</a></li>
                    <li>QQ：261364769</li>
                </ul>
                <h1>技能：</h1>
                <hr>
                <ul>
                    <li>Python</li>
                    <li>SQL</li>
                    <li>Linux</li>
                </ul>
                <h1>我的项目：</h1>
                <hr>
                <ul>
                    <li>个人博客：<a href="xxx.com">xxx.com</a></li>
                    <li>利用Scrapy框架爬取XX项目：<a href="xxxx.com">xxxx.com</a></li>
                </ul>
                <h1>发展方向：</h1>
                <hr>
                <ul>
                    <li>Python Web开发</li>
                    <li>Python爬虫、数据挖掘</li>
                </ul>
                <h1>兴趣爱好：</h1>
                <hr>
                <ul>
                    <li>游泳</li>
                    <li>欧美流行音乐: HipHop，Rap</li>
                    <li>美剧：行尸走肉，神盾特工，纸牌屋</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}